.MainPage-container {
    display: flex;
    flex-direction: row;
    overflow: hidden;
    /* overflow-x: auto; */
	flex-wrap: wrap;
    justify-content: center;

}
.MainPage {
    width: 300px;
    border: 2px solid black;
    border-radius: 20px;
    margin: 10px;
    font-size: 12px;
    padding: 0 10px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.MainPage img{
    width: 300px;
}
.MainPage img:hover{
    transform: scale(1.5);
}
.sort-vote{
display: flex;
justify-content: center;
margin: 20px;
}
