.App{
  margin: 0;
	background: #141414;
	color: #ffffff;
}
body{
  max-width: 1660px;
}
/* Navbar Section */
.NavBarMovie{
  height: 60px;
  border: 1px solid black;
}
/* Slider section*/
.SliderMovie{
  height: 600px;
  border: 1px solid black;
}

.SliderMovie {
  margin: 0 100px;
}

.SliderMovie .slider-image img{
    height: 600px;
    width: 800px;
}


/* TopRated section */
.TopRated-container{
  max-height: 700px;
  min-height: 700px;
  border: 1px solid black;
  display: flex;
  flex-direction: row;
  overflow: hidden;
}
.TopRated{
  width: 300px;
  height: 500px;
  border: 2px solid black;
  border-radius: 20px;
  margin-right: 10px;
  box-sizing: padding-box;
}
.TopRated img{
  max-width: 100%;
  height: 250px;
}
.TopRatedInfo{
  background-color: #1d201f;
  text-align: center;

}



/* Footer */
.FooterMovie{
  height: 400px;
  border: 1px solid black;
}


